*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    font-family: "Tahoma", sans-serif;
}

button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

label {
    white-space: pre-wrap;
    /* Wrap newlines in text */
}

fieldset > label > input {
    margin-right: 10px;
}

.dialog p {
    white-space: pre-wrap;
}

.loadingContainer {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
}

.loadingCircle {
    place-self: center;
    height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 4px solid gray;
    border-top: 4px solid lightskyblue;
    animation: 2s cubic-bezier(0.4, 0.3, 0.5, 0.7) infinite spin;
    /* We got that spin eyyy */
}

.loadingText {
    text-align: center;
    font-size: 2rem;
    font-family: "Noto Sans", sans-serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.questions {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    padding: 10px;
}

.correct {
    border-color: green;
}

.correct::after {
    content: "✓";
    color: green;
}

.incorrect {
    border-color: red;
}

.incorrect::after {
    content: "✗";
    color: red;
}

.correct::after,
.incorrect::after {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
}

.dialog {
    margin: auto auto;
    border-radius: 25px;
}

.dialogForm {
    padding: 3rem;
}

#content {
    border: 2px solid black;
    display: none;
}

#content input {
    cursor: pointer;
}

#content label {
    user-select: none;
}

#buttonGroup {
    padding: 5px;
}

#selectionHeader,
#quizSelect {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#title {
    text-align: center;
}

#options {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#quizSelect > h2,
#options > h2 {
    text-align: center;
    flex-basis: 100%;
}

#fileInputContainer {
    display: none;
}

#quizSelectionContainer {
    display: block;
}

#selectionModeContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}